Repository banavasi/adms-ui-registry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,vue,json}"
      # Skip when no staged files match format glob (avoids Biome "No files were processed" error)
      skip:
        - run: 'bash -c "! git diff --cached --name-only --diff-filter=ACMR | grep -qE \"\\.(js|ts|vue|json)$\""'
      run: pnpm biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,vue}"
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true

pre-push:
  commands:
    lint-check:
      run: pnpm lint
    format-check:
      run: pnpm format:check

chore: release cli v3.2.2
  .changeset/base-select-reuse.md
  .changeset/two-components-release.md
  .changeset/ui-controls-polish.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/jsonc.ts
Due: format, lint

chore: tighten tsconfig typing
  packages/cli/src/commands/init.ts
Due: format, lint

chore: bump cli release to v3.2.3
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: format

style: format Select component files with biome
  apps/storybook/src/components/ui/Select/Select.vue
  apps/storybook/src/components/ui/Select/SelectContent.vue
  apps/storybook/src/components/ui/Select/SelectItem.vue
  apps/storybook/src/components/ui/Select/SelectLabel.vue
  apps/storybook/src/components/ui/Select/SelectScrollDownButton.vue
  apps/storybook/src/components/ui/Select/SelectScrollUpButton.vue
  apps/storybook/src/components/ui/Select/SelectSeparator.vue
  apps/storybook/src/components/ui/Select/SelectTrigger.vue
Due: format, lint

style: format combobox storybook files with biome
  apps/storybook/src/components/ui/combobox/Combobox.vue
  apps/storybook/src/components/ui/combobox/ComboboxCancel.vue
  apps/storybook/src/components/ui/combobox/ComboboxContent.vue
  apps/storybook/src/components/ui/combobox/ComboboxEmpty.vue
  apps/storybook/src/components/ui/combobox/ComboboxGroup.vue
  apps/storybook/src/components/ui/combobox/ComboboxLabel.vue
  apps/storybook/src/components/ui/combobox/ComboboxSeparator.vue
Due: format, lint

chore: add release changeset for listbox select rewrite
  .changeset/listbox-select-rewrite.md
Due: none

fix: rewrite ListBox to use Select primitives, fix Escape key behavior (#34)
  .changeset/listbox-select-rewrite.md
  .gitignore
  apps/storybook/src/ListBox.stories.ts
  apps/storybook/src/components/ui/Select/Select.vue
  apps/storybook/src/components/ui/Select/SelectContent.vue
  apps/storybook/src/components/ui/Select/SelectGroup.vue
  apps/storybook/src/components/ui/Select/SelectItem.vue
  apps/storybook/src/components/ui/Select/SelectLabel.vue
  apps/storybook/src/components/ui/Select/SelectScrollDownButton.vue
  apps/storybook/src/components/ui/Select/SelectScrollUpButton.vue
  apps/storybook/src/components/ui/Select/SelectSeparator.vue
  apps/storybook/src/components/ui/Select/SelectTrigger.vue
  apps/storybook/src/components/ui/Select/SelectValue.vue
  apps/storybook/src/components/ui/Select/index.ts
  apps/storybook/src/components/ui/listbox/ListBoxMultiSelect.vue
  apps/storybook/src/components/ui/listbox/ListBoxSelect.vue
  apps/storybook/src/components/ui/listbox/ListBoxSelectIcon.vue
  apps/storybook/vite.config.ts
  registry/index.json
  registry/ui/listbox/ListBoxMultiSelect.vue
  registry/ui/listbox/ListBoxSelect.vue
  registry/ui/listbox/ListBoxSelectIcon.vue
  registry/ui/select/Select.vue
  registry/ui/select/SelectContent.vue
  registry/ui/select/SelectGroup.vue
  registry/ui/select/SelectItem.vue
  registry/ui/select/SelectLabel.vue
  registry/ui/select/SelectScrollDownButton.vue
  registry/ui/select/SelectScrollUpButton.vue
  registry/ui/select/SelectSeparator.vue
  registry/ui/select/SelectTrigger.vue
  registry/ui/select/SelectValue.vue
  registry/ui/select/index.ts
Due: format, lint

Replace claudecode git authors
  .gitignore
Due: none

feat: refresh combobox and base-select registry dropdowns
  .changeset/twelve-cycles-smile.md
  apps/storybook/src/BaseSelect.stories.ts
  apps/storybook/src/Combobox.stories.ts
  apps/storybook/src/components/ui/base-select/BaseSelect.vue
  apps/storybook/src/components/ui/combobox/ComboboxContent.vue
  apps/storybook/src/components/ui/combobox/ComboboxMultiSelect.vue
  apps/storybook/src/components/ui/combobox/ComboboxSelect.vue
  registry/ui/base-select/BaseSelect.vue
  registry/ui/combobox/ComboboxContent.vue
  registry/ui/combobox/ComboboxMultiSelect.vue
  registry/ui/combobox/ComboboxSelect.vue
Due: format, lint

feat: refresh combobox and base-select registry dropdowns (#38)
  .changeset/twelve-cycles-smile.md
  apps/storybook/src/BaseSelect.stories.ts
  apps/storybook/src/Combobox.stories.ts
  apps/storybook/src/components/ui/base-select/BaseSelect.vue
  apps/storybook/src/components/ui/combobox/ComboboxContent.vue
  apps/storybook/src/components/ui/combobox/ComboboxMultiSelect.vue
  apps/storybook/src/components/ui/combobox/ComboboxSelect.vue
  registry/ui/base-select/BaseSelect.vue
  registry/ui/combobox/ComboboxContent.vue
  registry/ui/combobox/ComboboxMultiSelect.vue
  registry/ui/combobox/ComboboxSelect.vue
Due: format, lint

chore: apply biome format fixes
  apps/storybook/src/components/ui/Select/Select.vue
  apps/storybook/src/components/ui/Select/SelectContent.vue
  apps/storybook/src/components/ui/Select/SelectItem.vue
  apps/storybook/src/components/ui/Select/SelectLabel.vue
  apps/storybook/src/components/ui/Select/SelectScrollDownButton.vue
  apps/storybook/src/components/ui/Select/SelectScrollUpButton.vue
  apps/storybook/src/components/ui/Select/SelectSeparator.vue
  apps/storybook/src/components/ui/Select/SelectTrigger.vue
  apps/storybook/src/components/ui/combobox/Combobox.vue
  apps/storybook/src/components/ui/combobox/ComboboxCancel.vue
  apps/storybook/src/components/ui/combobox/ComboboxEmpty.vue
  apps/storybook/src/components/ui/combobox/ComboboxGroup.vue
  apps/storybook/src/components/ui/combobox/ComboboxLabel.vue
  apps/storybook/src/components/ui/combobox/ComboboxSeparator.vue
Due: format, lint

fix(combobox,listbox): polish trigger UI and fix multi-select clear
  .changeset/polished-combobox-listbox-clear.md
  apps/storybook/.storybook/preview-head.html
  apps/storybook/src/Combobox.stories.ts
  apps/storybook/src/components/ui/BaseSelect/BaseSelect.vue
  apps/storybook/src/components/ui/BaseSelect/index.ts
  apps/storybook/src/components/ui/InputNumericRange/InputNumericRange.vue
  apps/storybook/src/components/ui/RadioSegment/RadioSegment.vue
  apps/storybook/src/components/ui/RadioYesNo/RadioYesNo.vue
  apps/storybook/src/components/ui/Select/Select.vue
  apps/storybook/src/components/ui/Select/SelectContent.vue
  apps/storybook/src/components/ui/Select/SelectItem.vue
  apps/storybook/src/components/ui/Select/SelectLabel.vue
  apps/storybook/src/components/ui/Select/SelectScrollDownButton.vue
  apps/storybook/src/components/ui/Select/SelectScrollUpButton.vue
  apps/storybook/src/components/ui/Select/SelectSeparator.vue
  apps/storybook/src/components/ui/Select/SelectTrigger.vue
  apps/storybook/src/components/ui/combobox/Combobox.vue
  apps/storybook/src/components/ui/combobox/ComboboxCancel.vue
  apps/storybook/src/components/ui/combobox/ComboboxEmpty.vue
  apps/storybook/src/components/ui/combobox/ComboboxGroup.vue
  apps/storybook/src/components/ui/combobox/ComboboxLabel.vue
  apps/storybook/src/components/ui/combobox/ComboboxMultiSelect.vue
  apps/storybook/src/components/ui/combobox/ComboboxSelect.vue
  apps/storybook/src/components/ui/combobox/ComboboxSeparator.vue
  apps/storybook/src/components/ui/listbox/ListBoxMultiSelect.vue
  apps/storybook/src/components/ui/listbox/ListBoxSelect.vue
  apps/storybook/src/components/ui/listbox/ListBoxSelectIcon.vue
  apps/storybook/vite.config.ts
  docs/migrations/2026-05-01-combobox-listbox-trigger-polish.md
  pnpm-lock.yaml
  registry/ui/combobox/Combobox.vue
  registry/ui/combobox/ComboboxMultiSelect.vue
  registry/ui/combobox/ComboboxSelect.vue
  registry/ui/listbox/ListBoxMultiSelect.vue
  registry/ui/listbox/ListBoxSelect.vue
  registry/ui/listbox/ListBoxSelectIcon.vue
  registry/ui/radio-segment/RadioSegment.vue
  registry/ui/radio-yes-no/RadioYesNo.vue
  registry/ui/select/SelectContent.vue
Due: format, lint

Fix/combobox listbox trigger polish (#40)
  .changeset/polished-combobox-listbox-clear.md
  apps/storybook/.storybook/preview-head.html
  apps/storybook/src/Combobox.stories.ts
  apps/storybook/src/components/ui/BaseSelect/BaseSelect.vue
  apps/storybook/src/components/ui/BaseSelect/index.ts
  apps/storybook/src/components/ui/InputNumericRange/InputNumericRange.vue
  apps/storybook/src/components/ui/RadioSegment/RadioSegment.vue
  apps/storybook/src/components/ui/RadioYesNo/RadioYesNo.vue
  apps/storybook/src/components/ui/Select/SelectContent.vue
  apps/storybook/src/components/ui/combobox/Combobox.vue
  apps/storybook/src/components/ui/combobox/ComboboxMultiSelect.vue
  apps/storybook/src/components/ui/combobox/ComboboxSelect.vue
  apps/storybook/src/components/ui/listbox/ListBoxMultiSelect.vue
  apps/storybook/src/components/ui/listbox/ListBoxSelect.vue
  apps/storybook/src/components/ui/listbox/ListBoxSelectIcon.vue
  apps/storybook/vite.config.ts
  docs/migrations/2026-05-01-combobox-listbox-trigger-polish.md
  pnpm-lock.yaml
  registry/ui/combobox/Combobox.vue
  registry/ui/combobox/ComboboxMultiSelect.vue
  registry/ui/combobox/ComboboxSelect.vue
  registry/ui/listbox/ListBoxMultiSelect.vue
  registry/ui/listbox/ListBoxSelect.vue
  registry/ui/listbox/ListBoxSelectIcon.vue
  registry/ui/radio-segment/RadioSegment.vue
  registry/ui/radio-yes-no/RadioYesNo.vue
  registry/ui/select/SelectContent.vue
Due: format, lint

docs: add button figma variant design spec
  docs/superpowers/specs/2026-05-04-button-figma-variants-design.md
Due: none

feat: integrate FontAwesome icons and enhance button styles
  .npmrc
  apps/storybook/package.json
  apps/storybook/src/Button.stories.ts
  apps/storybook/src/components/ui/Button/Button.vue
  apps/storybook/src/components/ui/Button/index.ts
  apps/storybook/src/components/ui/combobox/ComboboxMultiSelect.vue
  apps/storybook/src/components/ui/combobox/ComboboxSelect.vue
  apps/storybook/src/components/ui/index.ts
  apps/storybook/src/components/ui/listbox/ListBoxMultiSelect.vue
  apps/storybook/src/components/ui/listbox/ListBoxSelect.vue
  apps/storybook/src/components/ui/listbox/ListBoxSelectIcon.vue
  apps/storybook/vite.config.ts
  pnpm-lock.yaml
  registry/ui/button/Button.vue
  registry/ui/button/index.ts
  registry/ui/combobox/ComboboxCancel.vue
  registry/ui/combobox/ComboboxMultiSelect.vue
  registry/ui/combobox/ComboboxSelect.vue
  registry/ui/combobox/ComboboxTrigger.vue
  registry/ui/heading/Heading.vue
  registry/ui/index.ts
  registry/ui/input-error/InputError.vue
  registry/ui/input-password-toggle/InputPasswordToggle.vue
  registry/ui/label/Label.vue
  registry/ui/listbox/ListBoxMultiSelect.vue
  registry/ui/listbox/ListBoxSelect.vue
  registry/ui/listbox/ListBoxSelectIcon.vue
  registry/ui/radio-card/RadioCard.vue
  registry/ui/radio-segment/RadioSegment.vue
  registry/ui/radio-yes-no/RadioYesNo.vue
  registry/ui/select/SelectScrollDownButton.vue
  registry/ui/select/SelectScrollUpButton.vue
Due: format, lint

feat: add ButtonCloseIcon component and integrate FontAwesome icons
  .changeset/RELEASE_COMMIT_PLAN.sh
  .playwright-mcp/page-2026-05-05T05-46-16-414Z.yml
  .playwright-mcp/page-2026-05-05T05-48-52-435Z.yml
  .playwright-mcp/page-2026-05-05T05-49-02-683Z.yml
  .playwright-mcp/page-2026-05-05T05-49-20-055Z.yml
  .playwright-mcp/page-2026-05-05T05-49-30-101Z.yml
  .playwright-mcp/page-2026-05-05T05-50-14-397Z.yml
  .playwright-mcp/page-2026-05-05T05-50-24-566Z.yml
  .playwright-mcp/page-2026-05-05T05-52-08-229Z.yml
  .playwright-mcp/page-2026-05-05T05-52-18-277Z.yml
  .playwright-mcp/page-2026-05-05T05-57-09-141Z.yml
  .playwright-mcp/page-2026-05-05T05-57-19-186Z.yml
  .playwright-mcp/page-2026-05-05T05-57-19-752Z.yml
  .playwright-mcp/page-2026-05-05T05-57-30-232Z.yml
  .playwright-mcp/page-2026-05-05T05-59-31-970Z.yml
  .playwright-mcp/page-2026-05-05T06-02-46-048Z.yml
  .playwright-mcp/page-2026-05-05T06-02-53-192Z.yml
  .playwright-mcp/page-2026-05-05T06-02-56-213Z.yml
  AGENTS.md
  apps/storybook/src/components/ui/Button/ButtonCloseIcon.vue
  apps/storybook/src/components/ui/Icon/index.ts
  close-buttons-canvas-final.png
  close-buttons-canvas.png
  close-buttons-hover-state-check.png
  docs/superpowers/plans/2026-04-22-combobox-listbox-a11y-bugfix.md
  docs/superpowers/plans/2026-05-04-button-figma-variants.md
  docs/superpowers/specs/2026-04-22-combobox-listbox-a11y-bugfix-design.md
  exit-buttons-canvas-final.png
  exit-buttons-canvas-fixed.png
  exit-buttons-canvas.png
  gold-button-canvas.png
  gold-button-states.png
  registry/ui/button/ButtonCloseIcon.vue
  registry/ui/icon/index.ts
Due: format, lint

chore: clean up project assets and update .gitignore
  .gitignore
  .playwright-mcp/page-2026-05-05T05-46-16-414Z.yml
  .playwright-mcp/page-2026-05-05T05-48-52-435Z.yml
  .playwright-mcp/page-2026-05-05T05-49-02-683Z.yml
  .playwright-mcp/page-2026-05-05T05-49-20-055Z.yml
  .playwright-mcp/page-2026-05-05T05-49-30-101Z.yml
  .playwright-mcp/page-2026-05-05T05-50-14-397Z.yml
  .playwright-mcp/page-2026-05-05T05-50-24-566Z.yml
  .playwright-mcp/page-2026-05-05T05-52-08-229Z.yml
  .playwright-mcp/page-2026-05-05T05-52-18-277Z.yml
  .playwright-mcp/page-2026-05-05T05-57-09-141Z.yml
  .playwright-mcp/page-2026-05-05T05-57-19-186Z.yml
  .playwright-mcp/page-2026-05-05T05-57-19-752Z.yml
  .playwright-mcp/page-2026-05-05T05-57-30-232Z.yml
  .playwright-mcp/page-2026-05-05T05-59-31-970Z.yml
  .playwright-mcp/page-2026-05-05T06-02-46-048Z.yml
  .playwright-mcp/page-2026-05-05T06-02-53-192Z.yml
  .playwright-mcp/page-2026-05-05T06-02-56-213Z.yml
  .vscode/settings.json
  close-buttons-canvas-final.png
  close-buttons-canvas.png
  close-buttons-hover-state-check.png
  exit-buttons-canvas-final.png
  exit-buttons-canvas-fixed.png
  exit-buttons-canvas.png
  gold-button-canvas.png
  gold-button-states.png
Due: format

Remove RADIO_KEYBOARD_IMPLEMENTATION documentation and clean up project configuration files
  .serena/.gitignore
  .serena/project.yml
  RADIO_KEYBOARD_IMPLEMENTATION.md
  apps/storybook/src/Button.stories.ts
  apps/storybook/src/components/ui/Button/Button.vue
  registry/ui/button/Button.vue
Due: format, lint

Enhance Button component to support link-style rendering and event forwarding
  .changeset/button-link-and-events.md
Due: none

Refactor Button stories for improved code consistency
  apps/storybook/src/Button.stories.ts
Due: format, lint

Docs/button (#43)
  .changeset/button-link-and-events.md
  .serena/.gitignore
  .serena/project.yml
  RADIO_KEYBOARD_IMPLEMENTATION.md
  apps/storybook/src/Button.stories.ts
  apps/storybook/src/components/ui/Button/Button.vue
  registry/ui/button/Button.vue
Due: format, lint

fix(combobox): align multiselect clear/chevron icons with single select
  apps/storybook/src/components/ui/combobox/ComboboxMultiSelect.vue
  registry/ui/combobox/ComboboxMultiSelect.vue
Due: format, lint

chore(changeset): add patch for multiselect icon alignment fix
  .changeset/multiselect-icon-alignment.md
Due: none

fix(combobox): align multiselect clear/chevron icons with single select (#45)
  .changeset/multiselect-icon-alignment.md
  apps/storybook/src/components/ui/combobox/ComboboxMultiSelect.vue
  registry/ui/combobox/ComboboxMultiSelect.vue
Due: format, lint

fix(ci): authenticate Font Awesome Pro install via ~/.npmrc from secret
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  .npmrc
Due: none
