Repository banavasi/adms-ui-registry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

refactor: improve import formatting in Button component files
  apps/storybook/src/components/ui/Button/Button.vue
  apps/storybook/src/components/ui/Button/index.ts
Due: format, lint

refactor: enhance radio button components with keyboard navigation and toolbar support
  apps/storybook/src/RadioYesNo.stories.ts
  apps/storybook/src/components/ui/Button/Button.vue
  apps/storybook/src/components/ui/Heading/Heading.vue
  apps/storybook/src/components/ui/InputField/InputField.vue
  apps/storybook/src/components/ui/InputMasked/InputMasked.vue
  apps/storybook/src/components/ui/InputNumericRange/InputNumericRange.vue
  apps/storybook/src/components/ui/Label/Label.vue
  apps/storybook/src/components/ui/Label/index.ts
  apps/storybook/src/components/ui/RadioCard/RadioCardGroup.vue
  apps/storybook/src/components/ui/RadioSegment/RadioSegment.vue
  apps/storybook/src/components/ui/RadioYesNo/RadioYesNo.vue
  apps/storybook/src/components/ui/TextPassword/TextPassword.vue
  apps/storybook/src/components/ui/TextSSN/TextSSN.vue
  apps/storybook/vite.config.ts
  pnpm-lock.yaml
  registry/index.json
  registry/ui/radio-card/RadioCardGroup.vue
  registry/ui/radio-segment/RadioSegment.vue
  registry/ui/radio-yes-no/RadioYesNo.vue
Due: format, lint

feat: implement ARIA-compliant keyboard navigation for radio button components
  RADIO_KEYBOARD_IMPLEMENTATION.md
  apps/storybook/src/lib/useRadioKeyboard.ts
  registry/lib/useRadioKeyboard.ts
Due: format, lint

chore: add changeset for radio button keyboard navigation fix
  .changeset/tough-hats-sip.md
  lefthook.yml
Due: format

feat(ui): add accessible combobox and listbox with storybook stories
  apps/storybook/package.json
  apps/storybook/src/Combobox.stories.ts
  apps/storybook/src/GettingStarted.mdx
  apps/storybook/src/Intro.mdx
  apps/storybook/src/ListBox.stories.ts
  apps/storybook/src/components/ui/combobox/AllComponents.vue
  apps/storybook/src/components/ui/combobox/Combobox.vue
  apps/storybook/src/components/ui/combobox/ComboboxCancel.vue
  apps/storybook/src/components/ui/combobox/ComboboxContent.vue
  apps/storybook/src/components/ui/combobox/ComboboxEmpty.vue
  apps/storybook/src/components/ui/combobox/ComboboxGroup.vue
  apps/storybook/src/components/ui/combobox/ComboboxInput.vue
  apps/storybook/src/components/ui/combobox/ComboboxItem.vue
  apps/storybook/src/components/ui/combobox/ComboboxLabel.vue
  apps/storybook/src/components/ui/combobox/ComboboxSelect.vue
  apps/storybook/src/components/ui/combobox/ComboboxSeparator.vue
  apps/storybook/src/components/ui/combobox/ComboboxTrigger.vue
  apps/storybook/src/components/ui/combobox/index.ts
  apps/storybook/src/components/ui/index.ts
  apps/storybook/src/components/ui/listbox/ListBoxSelect.vue
  apps/storybook/src/components/ui/listbox/index.ts
  pnpm-lock.yaml
  registry/index.json
  registry/ui/combobox/Combobox.vue
  registry/ui/combobox/ComboboxCancel.vue
  registry/ui/combobox/ComboboxContent.vue
  registry/ui/combobox/ComboboxEmpty.vue
  registry/ui/combobox/ComboboxGroup.vue
  registry/ui/combobox/ComboboxInput.vue
  registry/ui/combobox/ComboboxItem.vue
  registry/ui/combobox/ComboboxLabel.vue
  registry/ui/combobox/ComboboxSelect.vue
  registry/ui/combobox/ComboboxSeparator.vue
  registry/ui/combobox/ComboboxTrigger.vue
  registry/ui/combobox/index.ts
  registry/ui/index.ts
  registry/ui/listbox/ListBoxSelect.vue
  registry/ui/listbox/index.ts
Due: format, lint

chore: update package manager to pnpm@10.18.1 and refine type imports in combobox components
  apps/storybook/src/components/ui/InputNumericRange/InputNumericRange.vue
  apps/storybook/src/components/ui/combobox/Combobox.vue
  apps/storybook/src/components/ui/combobox/ComboboxCancel.vue
  apps/storybook/src/components/ui/combobox/ComboboxContent.vue
  apps/storybook/src/components/ui/combobox/ComboboxEmpty.vue
  apps/storybook/src/components/ui/combobox/ComboboxGroup.vue
  apps/storybook/src/components/ui/combobox/ComboboxLabel.vue
  apps/storybook/src/components/ui/combobox/ComboboxSeparator.vue
  package.json
Due: format, lint

chore: add changeset for combobox and listbox release
  .changeset/two-components-release.md
Due: format

chore: remove pnpm version specification in CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
Due: none

chore: add release changeset for ui control updates
  .changeset/ui-controls-polish.md
Due: format

refactor(ui): update error state styling for checkboxes and radio buttons to use 'text-danger' class
  apps/storybook/src/components/ui/checkbox/Checkbox.vue
  apps/storybook/src/components/ui/checkbox/CheckboxGroup.vue
  apps/storybook/src/components/ui/checkbox/checkbox.scss
  apps/storybook/src/components/ui/radio/RadioGroup.vue
  apps/storybook/src/components/ui/radio/radio.scss
  registry/ui/checkbox/Checkbox.vue
  registry/ui/checkbox/CheckboxGroup.vue
  registry/ui/checkbox/checkbox.scss
  registry/ui/radio/RadioGroup.vue
  registry/ui/radio/radio.scss
Due: format, lint

feat: add reusable base select component
  .changeset/base-select-reuse.md
  apps/storybook/src/BaseSelect.stories.ts
  apps/storybook/src/components/ui/base-select/BaseSelect.vue
  apps/storybook/src/components/ui/base-select/index.ts
  apps/storybook/src/components/ui/index.ts
  registry/index.json
  registry/ui/base-select/BaseSelect.vue
  registry/ui/base-select/index.ts
  registry/ui/index.ts
Due: format, lint

chore: release cli v3.2.2
  .changeset/base-select-reuse.md
  .changeset/two-components-release.md
  .changeset/ui-controls-polish.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/jsonc.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,vue,json,md,css,scss}
  lint: any of: *.{js,ts,vue}
