Repository banavasi/adms-ui-registry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  skip:
  - run: bash -c "! git diff --cached --name-only --diff-filter=ACMR | grep -qE \"\\.(js|ts|vue|json)$\""
  run: pnpm biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

fix(ci): authenticate Font Awesome Pro install via ~/.npmrc from secret (#46)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  .npmrc
Due: none

fix(release): use 'changeset publish' so tags + GitHub Releases are created
  package.json
Due: format

fix(release): use 'changeset publish' so tags + GitHub Releases are created (#47)
  package.json
Due: format

feat(cli): init wires rdsIcons() plugin and installs the icons package
  .changeset/adms-rds-ui-icons-package.md
  packages/cli/src/commands/init.ts
Due: format, lint

feat(storybook): wire FontAwesome Pro icons into stories
  apps/storybook/src/Icon.stories.ts
  apps/storybook/src/Tooltip.stories.ts
  apps/storybook/vite.config.ts
Due: format, lint

docs(migrations): add upgrade notes for the icons package
  docs/migrations/2026-06-18-icons-package.md
Due: none

chore: remove stale RELEASE_COMMIT_PLAN.sh
  .changeset/RELEASE_COMMIT_PLAN.sh
Due: none

fix(ci): unblock Release auth and Storybook deploy
  .github/workflows/release.yml
  .github/workflows/storybook.yml
Due: none

fix(ci): unblock Release auth and Storybook deploy (#49)
  .github/workflows/release.yml
  .github/workflows/storybook.yml
Due: none

fix(ci): write FA token on its own line in release npmrc
  .github/workflows/release.yml
Due: none

fix(ci): write FA token on its own line in release npmrc (#50)
  .github/workflows/release.yml
Due: none

feat(icons): add sharp/brands support and alias per-package imports
  .changeset/icons-alias-dedup.md
  .changeset/icons-sharp-brands.md
  packages/icons/package.json
  packages/icons/src/constants.ts
  packages/icons/src/generate.ts
Due: format, lint

refactor(registry): consume RDS/Bootstrap design tokens across components
  .claude/CLAUDE.md
  .gitignore
  apps/storybook/src/Button.stories.ts
  apps/storybook/src/components/ui/Button/Button.vue
  apps/storybook/src/components/ui/Button/index.ts
  apps/storybook/src/components/ui/Combobox/ComboboxContent.vue
  apps/storybook/src/components/ui/Combobox/ComboboxItem.vue
  apps/storybook/src/components/ui/Combobox/ComboboxMultiSelect.vue
  apps/storybook/src/components/ui/Combobox/ComboboxSelect.vue
  apps/storybook/src/components/ui/Highlight/index.ts
  apps/storybook/src/components/ui/ListBox/ListBoxMultiSelect.vue
  apps/storybook/src/components/ui/ListBox/ListBoxSelect.vue
  apps/storybook/src/components/ui/ListBox/ListBoxSelectIcon.vue
  apps/storybook/src/components/ui/Radio/RadioGroup.vue
  apps/storybook/src/components/ui/RadioCard/RadioCard.vue
  apps/storybook/src/components/ui/RadioSegment/RadioSegment.vue
  apps/storybook/src/components/ui/RadioYesNo/RadioYesNo.vue
  apps/storybook/src/components/ui/Select/SelectContent.vue
  apps/storybook/src/components/ui/Select/SelectItem.vue
  apps/storybook/src/styles/_variables.scss
  registry/styles/_variables.scss
  registry/ui/button/Button.vue
  registry/ui/button/index.ts
  registry/ui/combobox/ComboboxContent.vue
  registry/ui/combobox/ComboboxItem.vue
  registry/ui/combobox/ComboboxMultiSelect.vue
  registry/ui/combobox/ComboboxSelect.vue
  registry/ui/highlight/index.ts
  registry/ui/input-numeric-range/InputNumericRange.vue
  registry/ui/listbox/ListBoxMultiSelect.vue
  registry/ui/listbox/ListBoxSelect.vue
  registry/ui/listbox/ListBoxSelectIcon.vue
  registry/ui/radio-card/RadioCard.vue
  registry/ui/radio-segment/RadioSegment.vue
  registry/ui/radio-yes-no/RadioYesNo.vue
  registry/ui/select/SelectContent.vue
  registry/ui/select/SelectItem.vue
Due: format, lint

chore: update pnpm-lock.yaml for icons sharp/brands peer deps
  pnpm-lock.yaml
Due: none

fix(forms): correct field vertical spacing
  apps/storybook/src/components/ui/InputRoot/InputRoot.vue
  apps/storybook/src/components/ui/Label/index.ts
  registry/ui/input-root/InputRoot.vue
  registry/ui/label/index.ts
Due: format, lint

fix(forms): correct field vertical spacing (#54)
  apps/storybook/src/components/ui/InputRoot/InputRoot.vue
  apps/storybook/src/components/ui/Label/index.ts
  registry/ui/input-root/InputRoot.vue
  registry/ui/label/index.ts
Due: format, lint

fix(ui): polish combobox and listbox interactions
  .changeset/fair-pumas-move.md
  apps/storybook/src/components/ui/Combobox/ComboboxMultiSelect.vue
  apps/storybook/src/components/ui/Combobox/ComboboxSelect.vue
  apps/storybook/src/components/ui/Combobox/ComboboxTrigger.vue
  apps/storybook/src/components/ui/ListBox/ListBoxMultiSelect.vue
  apps/storybook/src/components/ui/ListBox/ListBoxSelect.vue
  apps/storybook/src/components/ui/ListBox/ListBoxSelectIcon.vue
  docs/migrations/2026-06-23-combobox-listbox-interaction-polish.md
  registry/ui/combobox/ComboboxMultiSelect.vue
  registry/ui/combobox/ComboboxSelect.vue
  registry/ui/combobox/ComboboxTrigger.vue
  registry/ui/listbox/ListBoxMultiSelect.vue
  registry/ui/listbox/ListBoxSelect.vue
  registry/ui/listbox/ListBoxSelectIcon.vue
Due: format, lint

fix(forms): make option/radio components type-compatible with reka-ui AcceptableValue
  apps/storybook/package.json
  apps/storybook/src/components/ui/BaseSelect/BaseSelect.vue
  apps/storybook/src/components/ui/Combobox/ComboboxMultiSelect.vue
  apps/storybook/src/components/ui/Combobox/ComboboxSelect.vue
  apps/storybook/src/components/ui/ListBox/ListBoxMultiSelect.vue
  apps/storybook/src/components/ui/ListBox/ListBoxSelect.vue
  apps/storybook/src/components/ui/ListBox/ListBoxSelectIcon.vue
  apps/storybook/src/components/ui/Radio/RadioGroup.vue
  apps/storybook/src/components/ui/RadioCard/RadioCardGroup.vue
  apps/storybook/src/components/ui/RadioSegment/RadioSegment.vue
  apps/storybook/src/components/ui/RadioYesNo/RadioYesNo.vue
  pnpm-lock.yaml
  registry/ui/base-select/BaseSelect.vue
  registry/ui/combobox/ComboboxMultiSelect.vue
  registry/ui/combobox/ComboboxSelect.vue
  registry/ui/listbox/ListBoxMultiSelect.vue
  registry/ui/listbox/ListBoxSelect.vue
  registry/ui/listbox/ListBoxSelectIcon.vue
  registry/ui/radio-card/RadioCardGroup.vue
  registry/ui/radio-segment/RadioSegment.vue
  registry/ui/radio-yes-no/RadioYesNo.vue
  registry/ui/radio/RadioGroup.vue
Due: format, lint

fix(forms): make option/radio components type-compatible with reka-ui AcceptableValue (#57)
  apps/storybook/package.json
  apps/storybook/src/components/ui/BaseSelect/BaseSelect.vue
  apps/storybook/src/components/ui/Combobox/ComboboxMultiSelect.vue
  apps/storybook/src/components/ui/Combobox/ComboboxSelect.vue
  apps/storybook/src/components/ui/ListBox/ListBoxMultiSelect.vue
  apps/storybook/src/components/ui/ListBox/ListBoxSelect.vue
  apps/storybook/src/components/ui/ListBox/ListBoxSelectIcon.vue
  apps/storybook/src/components/ui/Radio/RadioGroup.vue
  apps/storybook/src/components/ui/RadioCard/RadioCardGroup.vue
  apps/storybook/src/components/ui/RadioSegment/RadioSegment.vue
  apps/storybook/src/components/ui/RadioYesNo/RadioYesNo.vue
  pnpm-lock.yaml
  registry/ui/base-select/BaseSelect.vue
  registry/ui/combobox/ComboboxMultiSelect.vue
  registry/ui/combobox/ComboboxSelect.vue
  registry/ui/listbox/ListBoxMultiSelect.vue
  registry/ui/listbox/ListBoxSelect.vue
  registry/ui/listbox/ListBoxSelectIcon.vue
  registry/ui/radio-card/RadioCardGroup.vue
  registry/ui/radio-segment/RadioSegment.vue
  registry/ui/radio-yes-no/RadioYesNo.vue
  registry/ui/radio/RadioGroup.vue
Due: format, lint

feat(cli): add 'update' command to refresh installed components
  .changeset/cli-update-command.md
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/index.ts
Due: format, lint

feat(cli): add 'update' command to refresh installed components (#58)
  .changeset/cli-update-command.md
  packages/cli/src/commands/init.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/index.ts
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,vue,json}
  lint: any of: *.{js,ts,vue}
